@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body {
    background-color: grey;
}

.heading {
    padding-top: 10rem;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.green {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn-1 {
    padding-top: 2rem;
    text-align: center;

}

.text {
    color: pink;
    padding-top: 10rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2rem;
}

@media screen and (max-width: 650px)
{
    .heading{
        padding-top: 5rem;
    }
    
}